<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GyanCRM-Git Test Suite">

<listeners>
	<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	<listener class-name="com.crm.qa.utils.PDFListener"></listener>
</listeners>

  <test name="GyanCRM-Git Test Cases">
     
     <classes>
     <class name="com.crm.qa.testcases.HomePageTest"/> 
     </classes>
         
  </test>
   <!-- Test -->
</suite> <!-- Suite -->